body {
    font-family: "Manrope";
}
.container {
    width: 1150px;
    margin: 0 auto;
}
.interior {
    position: relative;
    width: 1150px;
    height: 500px;
    background-image: url(../resources/Rectangle\ 1.png);
    
    margin-bottom: 150px;
    
}
.interior-text {
    position: absolute;
    font-family: "Manrope", sans-serif;
    color: white;
    width: 460px;
    line-height: 27.32px;
    font-size: 20px;
    left: 40px;
    bottom: 40px;
    
    
    
}
.btn {
    display: block;
    border: 1px solid red;
    width: 267px;
    height: 67px;
    text-decoration: none;
    color: red;
    text-align: center;
    line-height: 67px;
    margin-bottom: 150px;
    
}

.btn:hover {
    color: white;
    background-color: red;
}
.text-1 {
    font-family: "Manrope", sans-serif;
    font-size: 60px;
    line-height: 60px;
    width: 1150px;
    height: 120px;
    margin-bottom: 30px;
    letter-spacing: -3%;
    
    
}
.text-11 {
    font-family: "Manrope", sans-serif;
    font-size: 18px;
    line-height: 24.59px;
    width: 51px;
    height: 25px;
    padding-bottom: 30px;
    
}
.text-12 {
    font-family: "Manrope", sans-serif;
    font-size: 45px;
    line-height: 61.47px;
    width: 1048px;
    height: 366px;
    padding-bottom: 97px;
    
    
    
    
}

.text-services {
    width: 1150px;
    
}
.text__projects {
    font-family: "Manrope";
    font-size: 18px;
    margin-bottom: 30px;
}
.interior-GK {
    width: 1150px;
    box-sizing: border-box;
    margin-bottom: 90px;
    
}
.interior2__image {
    margin-bottom: 15px;
}
.interior-GK__text-GK {
    font-weight: 400;
    font-size: 30px;
    line-height: 40.98px;
    color: #121212;
    margin-bottom: 15px;
    
}
.interior-GK__link {
    color: #AD1818;
    font-weight: 400;
    font-size: 20px;
    line-height: 27.32px;
    text-decoration: none;
    
}
.btn-interior {
    width: 100%;
    height: 153px;
    border: 1px solid #AD1818;
    border-radius: 5px;
    text-align: center;
    background-color: white;
    color: #AD1818;
    font-size: 30px;
    line-height: 153px;
    text-decoration: none; 
    margin-bottom: 150px; 
    
    
}
.btn-interior:hover {
    background-color: #AD1818;
    color: white;
    
    
}
.section {
    background-color: #121212;
    /* height: 1844px; */
    font-family: "Manrope";
}
.section-wrapper {
    padding-top: 151px;
    padding-bottom: 150px;
    margin: 0 auto;
    width: 1150px;
}


.text-wrapper {
    color: white;
    font-size: 18px;
    line-height: 24.59px;
    margin-bottom: 34px;
    
    
}
.item-blok__image {
    margin-bottom: 15px;
}
.item-blok__text {
    font-weight: 400;
    font-size: 30px;
    line-height: 40.98px;
    color: #FFFFFF;
    margin-bottom: 60px;
}
.item-blok:nth-last-child(1) {
    margin-bottom: 0;
}



